



<h3>Article Summary</h3>

<img class="natureImage" src=" widgets/nature.jpg" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu euismod est. In nec odio tortor. Maecenas et condimentum nisi. Sed lacinia ornare quam, vel vehicula dui feugiat eu. Suspendisse vulputate sem vitae nulla efficitur accumsan. Maecenas viverra nunc ut enim posuere porta. Fusce non tincidunt ex.

    Etiam a quam tincidunt, luctus mi in, luctus neque. Vestibulum commodo diam convallis porta semper. Vivamus mauris nibh, accumsan at efficitur a, dignissim eget sem. Nulla ante sem, gravida nec scelerisque at, laoreet ac ipsum. Sed accumsan tortor vitae ante iaculis, a scelerisque velit vehicula. Sed tempor velit est, ut ultrices ante egestas sit amet. Maecenas venenatis, augue ac faucibus maximus, enim lacus faucibus lacus, ut convallis orci massa id erat.
</p>
<a href="" class="myNotes" ng-click="showNotes()">Article Notes</a> <div id="myNotes"class='StickyNote dropshadow'></div>

<br />
<a href="" class="myAction" ng-click="showAction()">Article action items</a> <div id="myAction" class='StickyNote dropshadow'></div>







